@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

.App {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin: 100px;
}

.Clock__container {
  border-radius: 50%;
  border: 25px solid #000;
  display: inline-flex;
  padding: 20px;
}

.Clock {
  background: url(../assets/clockFace.svg) no-repeat center;
  height: 600px;
  list-style: none;
  margin: auto;
  position: relative;
  width: 600px;
  padding: 0;
}

.Clock__seconds,
.Clock__minutes,
.Clock__hours {
  height: 600px;
  left: 285px;
  position: absolute;
  top: 0px;
  width: 30px;
}

.Clock__seconds {
  background: url(../assets/secHand.png);
  z-index: 3;
}

.Clock__minutes {
  background: url(../assets/minHand.png);
  z-index: 2;
}

.Clock__hours {
  background: url(../assets/hourHand.png);
  z-index: 1;
}

.Clock__info {
  border-radius: 5px;
  border: 1.5px solid #000;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  left: 340px;
  place-content: center;
  position: absolute;
  top: 260px;
}

.Clock__info__AM-PM {
  font-family: 'Fredoka One', cursive;
  flex: 1;
  text-align: center;
  padding: 8px 12px;
  border-right: 1.5px solid black;
}

.Clock__info__data {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.Clock__info__alarm {
  text-align: center;
  flex: 1;
  padding: 8px 12px;
}

.Clock__info__text {
  font-family: 'Fredoka One', cursive;
  text-align: center;
  flex: 1;
  padding: 8px 12px;
  width: 30px;
  border-top: 1.5px solid black;
}

.Clock__info__text:first-child {
  border-right: 1.5px solid #000;
}

.Clock__info__text:last-child {
  border-left: 1.5px solid #000;
}
.AlarmControl {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.AlarmControl__options {
  display: grid;
  place-content: end;
  grid-template-columns: repeat(3, 150px);
}

.AlarmControl__option,
.AlarmControl__AM-PM {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.AlarmControl__btn,
.AlarmControl__set-alarm {
  border: 0;
  padding: 10px;
  margin: 0;
  font-size: 30px;
  outline: none;
  cursor: pointer;
}

.AlarmControl__val {
  font-family: 'Fredoka One', cursive;
  font-size: 25px;
}

.AlarmControl__set {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-right: 60px;
  margin-left: 60px;
  margin-top: 25px;
}

.AlarmControl__set-alarm {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AlarmControl__set-alarm__text {
  font-family: 'Fredoka One', cursive;
  font-size: 25px;
  min-width: 75px;
}

.AlarmControl__bell {
  width: 25px;
}
