@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

.App {
  display: grid;
  height: 100vh;
  place-content: center;
}

.Clock__container {
  border-radius: 50%;
  border: 25px solid #000;
  display: inline-flex;
  padding: 15px;
}

.Clock {
  background: url(../assets/clockFace.svg) no-repeat center;
  height: 600px;
  list-style: none;
  margin: auto;
  position: relative;
  width: 600px;
}

.Clock__seconds,
.Clock__minutes,
.Clock__hours {
  height: 600px;
  left: 285px;
  position: absolute;
  top: 0px;
  width: 30px;
}

.Clock__seconds {
  background: url(../assets/secHand.png);
  z-index: 3;
}

.Clock__minutes {
  background: url(../assets/minHand.png);
  z-index: 2;
}

.Clock__hours {
  background: url(../assets/hourHand.png);
  z-index: 1;
}

.Clock__info {
  border-radius: 5px;
  border: 1.5px solid #000;
  display: grid;
  left: 370px;
  place-content: center;
  position: absolute;
  top: 280px;
}

.Clock__info__AM-PM {
  font-family: 'Fredoka One', cursive;
  padding: 10px 50px;
}
