.App {
  height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
}

.Clock__container {
  border: 25px solid black;
  display: inline-flex;
  border-radius: 50%;
  padding: 15px;
}

.Clock {
  position: relative;
  width: 600px;
  height: 600px;
  margin: auto;
  background: url(../assets/clockFace.svg) no-repeat center;
  list-style: none;
}

.Clock__seconds,
.Clock__minutes,
.Clock__hours {
  position: absolute;
  width: 30px;
  height: 600px;
  top: 0px;
  left: 285px;
}

.Clock__seconds {
  background: url(../assets/secHand.png);
  z-index: 3;
}

.Clock__minutes {
  background: url(../assets/minHand.png);
  z-index: 2;
}

.Clock__hours {
  background: url(../assets/hourHand.png);
  z-index: 1;
}
